<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>Shower Presentation Engine</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=1274, user-scalable=no">
  <link rel="stylesheet" href="shower/themes/ribbon/styles/screen.css">
  <link rel="stylesheet" href="shower/themes/ribbon/styles/print.css" media="print">
  <!--
    To apply styles to the certain slides
    set slide ID to get needed elements
    -->
  <style>
    #Cover h2 {
      margin:65px 0 0;
      color:#FFF;
      text-align:center;
      font-size:70px;
      }
    #Picture h2 {
      color:#FFF;
      }

.frame {
  display: inline-block;
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);
}
table, tr, th, td {
  border: 1px solid #ccc;
}
th, td {
  padding: 0 5px;
}
  </style>
</head>
<body class="list">
  <header class="caption">
    <p>RailsGirls</p>
  </header>
  <section class='slide'>
  <div>
    <h2>ちょこっと説明資料</h2>
    <img src='images/sticker.jpg' style='margin-left: 200px;'>
  </div>
</section>
<section class='slide shout'>
  <div>
    <h2>それぞれのコマンドが何なのか説明してみましょう</h2>
  </div>
</section>
<section class='slide'>
  <div>
    <h2>コマンド説明</h2>
    <pre><code>mkdir projects</code>
    <code>cd projects</code>
    <code>rails new railsgirls</code>
    <code>cd railsgirls</code>
    <code>rails server</code></pre>
  </div>
</section>
<section class='slide'>
  <div>
    <h2>コマンド説明</h2>
    <pre><code><mark>mkdir projects</mark> 創作物を入れるフォルダを作る</code>
    <code>cd projects</code>
    <code>rails new railsgirls</code>
    <code>cd railsgirls</code>
    <code>rails server</code></pre>
  </div>
</section>
<section class='slide'>
  <div>
    <h2>コマンド説明</h2>
    <pre><code>mkdir projects <mark class="comment">創作物を入れるフォルダを作る</mark></code>
    <code><mark>cd projects</mark> 作ったフォルダに移動する</code>
    <code>rails new railsgirls</code>
    <code>cd railsgirls</code>
    <code>rails server</code></pre>
  </div>
</section>
<section class='slide'>
  <div>
    <h2>コマンド説明</h2>
    <pre><code>mkdir projects <mark class="comment">創作物を入れるフォルダを作る</mark></code>
    <code>cd projects <mark class="comment">作ったフォルダに移動する</mark></code>
    <code><mark>rails new railsgirls</mark> 最低限必要なフォルダやファイルを作成</code>
    <code>cd railsgirls</code>
    <code>rails server</code></pre>
  </div>
</section>
<section class='slide'>
  <div>
    <h2>コマンド説明</h2>
    <pre><code>mkdir projects <mark class="comment">創作物を入れるフォルダを作る</mark></code>
    <code>cd projects <mark class="comment">作ったフォルダに移動する</mark></code>
    <code>rails new railsgirls <mark class="comment">最低限必要なフォルダやファイルを作成</mark></code>
    <code><mark>cd railsgirls</mark> 自動で作られたフォルダに移動する</code>
    <code>rails server</code></pre>
  </div>
</section>
<section class='slide'>
  <div>
    <h2>コマンド説明</h2>
    <pre><code>mkdir projects <mark class="comment">創作物を入れるフォルダを作る</mark></code>
    <code>cd projects <mark class="comment">作ったフォルダに移動する</mark></code>
    <code>rails new railsgirls <mark class="comment">最低限必要なフォルダやファイルを作成</mark></code>
    <code>cd railsgirls <mark class="comment">自動で作られたフォルダに移動する</mark></code>
    <code><mark>rails server</mark> ローカルでサーバーを起動</code></pre>
  </div>
</section>
<section class='slide shout'>
  <div>
    <h2>ブラウザ接続<br /><mark>localhost:3000</mark></h2>
  </div>
</section>
<section class='slide shout'>
  <div>
    <h2>これで最初の準備は終わりです</h2>
  </div>
</section>
<section class='slide shout'>
  <div>
    <h2>何が生成されましたか？</h2>
  </div>
</section>
<section class='slide'>
  <div>
    <h2>フォルダ構成　※抜粋</h2>
    <ul>
      <li>
        railsgirls
        <ul>
          <li>
            app
            <ul>
              <li>models</li>
              <li>views</li>
              <li>controllers</li>
            </ul>
          </li>
          <li>config</li>
          <li>db</li>
        </ul>
      </li>
    </ul>
  </div>
</section>
<section class='slide'>
  <div>
    <h2>フォルダ構成　※抜粋</h2>
    <ul>
      <li>
        railsgirls
        <ul>
          <li>
            <mark>app</mark> 修正する対象プログラム
            <ul>
              <li>models</li>
              <li>views</li>
              <li>controllers</li>
            </ul>
          </li>
          <li>config</li>
          <li>db</li>
        </ul>
      </li>
    </ul>
  </div>
</section>
<section class='slide'>
  <div>
    <h2>フォルダ構成　※抜粋</h2>
    <ul>
      <li>
        railsgirls
        <ul>
          <li>
            app
            <ul>
              <li><mark>models</mark> データを作成（料理人）</li>
              <li><mark>views</mark> データを視覚化（ウェイター）</li>
              <li><mark>controllers</mark> データの作成と視覚化を指揮（料理長）</li>
            </ul>
          </li>
          <li>config</li>
          <li>db</li>
        </ul>
      </li>
    </ul>
  </div>
</section>
<section class='slide'>
  <div>
    <h2>フォルダ構成　※抜粋</h2>
    <ul>
      <li>
        railsgirls
        <ul>
          <li>
            app
            <ul>
              <li>models</li>
              <li>views</li>
              <li>controllers</li>
            </ul>
          </li>
          <li><mark>config</mark> アプリケーションの設定</li>
          <li>db</li>
        </ul>
      </li>
    </ul>
  </div>
</section>
<section class='slide'>
  <div>
    <h2>フォルダ構成　※抜粋</h2>
    <ul>
      <li>
        railsgirls
        <ul>
          <li>
            app
            <ul>
              <li>models</li>
              <li>views</li>
              <li>controllers</li>
            </ul>
          </li>
          <li>config</li>
          <li><mark>db</mark> データベースの定義情報</li>
        </ul>
      </li>
    </ul>
  </div>
</section>
<section class='slide shout'>
  <div>
    <h2>そしてサーバーは何をしますか？</h2>
  </div>
</section>
<section class='slide'>
  <div>
    <h2>サーバー</h2>
    <p>何かしらのリクエスト（注文）に対してレスポンス（結果）を返す</p>
    <p style='margin-bottom:0'>（サーバ例）</p>
    <ul>
      <li>データベースサーバー</li>
      <li>ウェブサーバー</li>
      <li>アプリケーションサーバー</li>
    </ul>
  </div>
</section>
<section class='slide'>
  <div>
    <h2>サーバー</h2>
    <p style='margin-bottom: 0;'>※修正中</p>
    <image src='images/server.png'></image>
  </div>
</section>
<section class='slide shout'>
  <div>
    <h2>scaffold とはなんでしょう？</h2>
  </div>
</section>
<section class='slide'>
  <div>
    <h2>scaffoldコマンド</h2>
    <pre><code>rails generate scaffold idea <br/> name:string description:text picture:string</code></pre>
  </div>
</section>
<section class='slide'>
  <div>
    <h2>scaffoldコマンド</h2>
    <pre><code><mark class="important">rails generate</mark> scaffold idea <br/> name:string description:text picture:string</code></pre>
    <pre><code><mark>railsのひな形を作成するコマンド</mark></code></pre>
  </div>
</section>
<section class='slide'>
  <div>
    <h2>scaffoldコマンド</h2>
    <pre><code>rails generate <mark class="important">scaffold</mark> idea <br/> name:string description:text picture:string</code></pre>
    <pre><code><mark>アプリケーションの機能の土台を一式作成</mark>
    <mark class="comment">他の例）
    model : モデル＆マイグレーションの土台作成
    controller : コントローラ＆ビューの土台作成</mark></code></pre>
  </div>
</section>
<section class='slide'>
  <div>
    <h2>scaffoldコマンド</h2>
    <pre><code>rails generate scaffold <mark class="important">idea</mark> <br/> name:string description:text picture:string</code></pre>
    <pre><code><mark>機能の名前</mark>
    <mark class="comment">例のコマンドではアイデア（idea）を管理する機能を想定</mark></code></pre>
  </div>
</section>
<section class='slide shout'>
  <div>
    <img src='images/display.png' style='position: fixed;left: 20px;top: 20px;'>
  </div>
</section>
<section class='slide'>
  <div>
    <h2>scaffoldコマンド</h2>
    <pre><code>rails generate scaffold idea <br/> <mark class="important">name:string description:text picture:string</mark></code></pre>
    <pre><code><mark>機能で使用する項目</mark></code></pre>
  </div>
</section>
<section class='slide shout'>
  <div>
    <h2>migration 機能が何で、なぜ必要なのか。</h2>
  </div>
</section>
<section class='slide'>
  <div>
    <h2>migration</h2>
    <p>機能追加時に前回からの差分の環境を作る<br />機能追加をスムーズに行うことができる</p>
    <pre><code><mark class="comment">例）テーブルに項目を追加する</mark></code></pre>
  </div>
</section>
<section class='slide shout'>
  <div>
    <h2>HTML と Railsの関係</h2>
  </div>
</section>
<section class='slide'>
  <div>
    <h2>HTML と Railsの関係について話してみましょう。</h2>
    <p>views のどの部分が HTML で、どこが Embedded Ruby (ERB)ですか？どうやってこれらが MVC (モデルとコントローラが、動的に HTML や views を生成するロジックを管理しているもの) と関連づけられていますか？</p>
  </div>
</section>
<section class='slide'>
  <div>
    <h2>HTML と Railsの関係について話してみましょう。</h2>
    <p>views の<mark>どの部分が HTML で、どこが Embedded Ruby (ERB)</mark>ですか？どうやってこれらが <mark>MVC (モデルとコントローラが、動的に HTML や views を生成するロジックを管理しているもの) と関連づけ</mark>られていますか？</p>
  </div>
</section>
<section class='slide'>
  <div>
    <h2>HTMLとRuby(ERB)の違い</h2>
    <p style='margin-bottom: 20px;'></p>
    <pre><code>HTML ※Webブラウザにいろいろ表示するための言語<br/><mark><% 〜 %>以外</mark> <- 囲まれていない箇所についてはそのまま出力される</code></pre>
    <pre><code>&ltstrong>Name:&lt/strong><br /> <mark class="comment">=></mark> <strong>Name:</strong></code></pre>
  </div>
</section>
<section class='slide'>
  <div>
    <h2>HTMLとRuby(ERB)の違い</h2>
    <p style='margin-bottom: 20px;'></p>
    <pre><code>Ruby(ERB) ※RubyでHTMLを作るもの<br/><mark><% 〜 %></mark> <- 囲まれた箇所がRubyからHTMLに変換される</code></pre>
    <pre><code><%= @idea.name %> <mark class="comment"> => ステッカー</mark></code>
    <code><%= f.label :name %> <br /><mark class="comment"> => &ltlabel for="idea_name">Name&lt/label></mark></code>
    <code><%= f.text_field :name %> <br /><mark class="comment"> => &ltinput id="idea_name" name="idea[name]" type="text" /></mark></code></pre>
  </div>
</section>
<section class='slide shout'>
  <div>
    <h2>MVCと関連づけ</h2>
  </div>
</section>
<section class='slide'>
  <div>
    <h2>MVCと関連づけ</h2>
    <div style='float: left;margin-right: 100px;'>
      <p style='margin-bottom: 0;'>C（コントローラ）</p>
      <pre style='margin: 0;'><code>def new</code>
      <code>　<mark class="important">@idea</mark> = <mark>Idea</mark>.new</code>
      <code>end</code></pre>
    </div>
    <div style='float: left;'>
      <p style='margin-bottom: 0;'>V（ビュー）</p>
      <pre style='margin: 0;'><code><%= <mark class="important">@idea</mark>.name %></code></pre>
    </div>
    <div style='clear: both;padding-top: 20px;'>
      <p style='margin-bottom: 0;'>M（モデル）</p>
      <pre><code>class <mark>Idea</mark> < ActiveRecord::Base</code>
      <code>end</code></pre>
    </div>
  </div>
</section>
<section class='slide'>
  <div>
    <h2>CSSとレイアウトについて</h2>
    <p>CSS（Cascading Style Sheets）はHTMLをどのように表示するかを指示</p>
  </div>
</section>
<section class='slide'>
  <div>
    <h2>CSSとレイアウトについて</h2>
    <pre><code>body { padding-top: 100px; }</code>
    <code>footer { margin-top: 100px; }</code>
    <code>table, td, th { vertical-align: middle !important;<br /> border: none !important; }</code>
    <code>th { border-bottom: 1px solid #DDD !important; }</code></pre>
  </div>
</section>
<section class='slide'>
  <div>
    <h2>CSSとレイアウトについて</h2>
    <pre><code><mark>body { padding-top: 100px; }</mark> <mark class="comment">=> body要素の内側の上に余白</mark></code>
    <code>footer { margin-top: 100px; }</code>
    <code>table, td, th { vertical-align: middle !important;<br /> border: none !important; }</code>
    <code>th { border-bottom: 1px solid #DDD !important; }</code></pre>
  </div>
</section>
<section class='slide'>
  <div>
    <h2>CSSとレイアウトについて</h2>
    <pre><code>body { padding-top: 100px; }</code>
    <code><mark>footer { margin-top: 100px; }</mark> <mark class="comment">=> footer要素の外側の上に余白</mark></code>
    <code>table, td, th { vertical-align: middle !important;<br /> border: none !important; }</code>
    <code>th { border-bottom: 1px solid #DDD !important; }</code></pre>
  </div>
</section>
<section class='slide'>
  <div>
    <h2>CSSとレイアウトについて</h2>
    <pre><code>body { padding-top: 100px; }</code>
    <code>footer { margin-top: 100px; }</code>
    <code><mark>table, td, th { vertical-align: middle !important;<br /> border: none !important; }</mark> <mark class="comment">=> 縦揃えで線をなくす</mark></code>
    <code>th { border-bottom: 1px solid #DDD !important; }</code></pre>
  </div>
</section>
<section class='slide'>
  <div>
    <h2>CSSとレイアウトについて</h2>
    <pre><code>body { padding-top: 100px; }</code>
    <code>footer { margin-top: 100px; }</code>
    <code>table, td, th { vertical-align: middle !important;<br /> border: none !important; }</code>
    <code><mark>th { border-bottom: 1px solid #DDD !important; }</mark><br /> <mark class="comment">=> tableのヘッダーのみ下線を引く</mark></code></pre>
  </div>
</section>
<section class='slide'>
  <div>
    <h2>何のライブラリがあって、なぜ便利なのかを説明してください</h2>
    <p style='margin-bottom: 0;'>ライブラリ主要参考サイト</p>
    <pre><code>http://rubygems.org/</code>
    <code>https://github.com/</code>
    <code>https://www.ruby-toolbox.com/</code></pre>
  </div>
</section>
<section class='slide'>
  <div>
    <h2>何のライブラリがあって、なぜ便利なのかを説明してください</h2>
    <p style='margin-bottom: 0;'>ライブラリ主要参考サイト</p>
    <pre><code><mark>http://rubygems.org/</mark></code>
    <code>https://github.com/</code>
    <code>https://www.ruby-toolbox.com/</code></pre>
  </div>
</section>
<section class='slide'>
  <div>
    <h2>Gemfile</h2>
    <pre><code>source 'https://rubygems.org'</code>
    <code>gem 'carrierwave'</code></pre>
  </div>
</section>
<section class='slide'>
  <div>
    <h2>routes</h2>
    <p>routes について話してください。</p>
  </div>
</section>
<section class='slide shout'>
  <div>
    <h2>HTTP</h2>
  </div>
</section>
<section class='slide'>
  <div>
    <h2>HTTP</h2>
    <pre><code>「何を」「どうしたいか」</code></pre>
  </div>
</section>
<section class='slide'>
  <div>
    <h2>HTTP</h2>
    <pre><code><mark>「何を」</mark>「どうしたいか」</code></pre>
    <p>アドレス<br />http://localhost:3000/ideas</p>
  </div>
</section>
<section class='slide'>
  <div>
    <h2>HTTP</h2>
    <pre><code>「何を」<mark>「どうしたいか」</mark></code></pre>
    <pre><code>GET <mark class="comment">=> 〜をください</mark></code>
    <code>PUT/PATCH <mark class="comment">=> 〜を更新（置き換え）してください</mark></code>
    <code>DELETE <mark class="comment">=> 〜を削除してください</mark></code>
    <code>POST <mark class="comment">=> 〜をやってください</mark></code></pre>
  </div>
</section>
<section class='slide'>
  <div>
    <h2>routesの書き方</h2>
    <p>「config/routes.rb」を修正</p>
    <pre style='margin: 0;'><code>「ideasの一覧をください」 => get 'ideas'</code>
    <code>「ideasのidをください」 => get 'ideas/:id'</code>
    <code>「ideasを新しく作ってください」 => post 'ideas'</code>
    <code>「ideasのidを更新してください」 => put 'ideas/:id'</code>
    <code>「ideasのidを削除してください」 => delete 'ideas/:id'</code></pre>
  </div>
</section>
<section class='slide'>
  <div>
    <h2>routesの書き方</h2>
    <p style='margin: 0;'>resources :ideas</p>
    <pre><code>「ideasの一覧をください」 => get 'ideas'</code>
    <code>「ideasのidをください」 => get 'ideas/:id'</code>
    <code>「ideasを新しく作ってください」 => post 'ideas'</code>
    <code>「ideasのidを更新してください」 => put 'ideas/:id'</code>
    <code>「ideasのidを削除してください」 => delete 'ideas/:id'</code>
    <code>「ideasの新規登録画面をください」 => get 'ideas/new'</code>
    <code>「ideasのidの更新画面をください」 => get 'ideas/:id/edit'</code></pre>
  </div>
</section>

  <!--
    To hide progress bar from entire presentation
    just remove “progress” element.
    -->
  <div class="progress"><div></div></div>
  <script src="shower/shower.js"></script>
  <!-- Copyright © 2010–2012 Vadim Makeev — pepelsbey.net -->
  <!-- Photos by John Carey — fiftyfootshadows.net -->
</body>
</html>