---
title: RailsGirls
---

%section.slide
  %div
    %h2 ちょこっと説明資料
    %img{src: 'images/sticker.jpg', style: 'margin-left: 200px;'}
%section.slide.shout
  %div
    %h2 それぞれのコマンドが何なのか説明してみましょう
%section.slide
  %div
    %h2 コマンド説明
    %pre
      %code mkdir projects
      %code cd projects
      %code rails new railsgirls
      %code cd railsgirls
      %code rails server
%section.slide
  %div
    %h2 コマンド説明
    %pre
      %code <mark>mkdir projects</mark> 創作物を入れるフォルダを作る
      %code cd projects
      %code rails new railsgirls
      %code cd railsgirls
      %code rails server
%section.slide
  %div
    %h2 コマンド説明
    %pre
      %code mkdir projects <mark class="comment">創作物を入れるフォルダを作る</mark>
      %code <mark>cd projects</mark> 作ったフォルダに移動する
      %code rails new railsgirls
      %code cd railsgirls
      %code rails server
%section.slide
  %div
    %h2 コマンド説明
    %pre
      %code mkdir projects <mark class="comment">創作物を入れるフォルダを作る</mark>
      %code cd projects <mark class="comment">作ったフォルダに移動する</mark>
      %code <mark>rails new railsgirls</mark> 最低限必要なフォルダやファイルを作成
      %code cd railsgirls
      %code rails server
%section.slide
  %div
    %h2 コマンド説明
    %pre
      %code mkdir projects <mark class="comment">創作物を入れるフォルダを作る</mark>
      %code cd projects <mark class="comment">作ったフォルダに移動する</mark>
      %code rails new railsgirls <mark class="comment">最低限必要なフォルダやファイルを作成</mark>
      %code <mark>cd railsgirls</mark> 自動で作られたフォルダに移動する
      %code rails server
%section.slide
  %div
    %h2 コマンド説明
    %pre
      %code mkdir projects <mark class="comment">創作物を入れるフォルダを作る</mark>
      %code cd projects <mark class="comment">作ったフォルダに移動する</mark>
      %code rails new railsgirls <mark class="comment">最低限必要なフォルダやファイルを作成</mark>
      %code cd railsgirls <mark class="comment">自動で作られたフォルダに移動する</mark>
      %code <mark>rails server</mark> ローカルでサーバーを起動
%section.slide.shout
  %div
    %h2 ブラウザ接続<br /><mark>localhost:3000</mark>
%section.slide.shout
  %div
    %h2 これで最初の準備は終わりです
%section.slide.shout
  %div
    %h2 何が生成されましたか？
%section.slide
  %div
    %h2 フォルダ構成　※抜粋
    %ul
      %li
        railsgirls
        %ul
          %li
            app
            %ul
              %li models
              %li views
              %li controllers
          %li config
          %li db
%section.slide
  %div
    %h2 フォルダ構成　※抜粋
    %ul
      %li
        railsgirls
        %ul
          %li
            <mark>app</mark> 修正する対象プログラム
            %ul
              %li models
              %li views
              %li controllers
          %li config
          %li db
%section.slide
  %div
    %h2 フォルダ構成　※抜粋
    %ul
      %li
        railsgirls
        %ul
          %li
            app
            %ul
              %li <mark>models</mark> データを作成（料理人）
              %li <mark>views</mark> データを視覚化（ウェイター）
              %li <mark>controllers</mark> データの作成と視覚化を指揮（料理長）
          %li config
          %li db
%section.slide
  %div
    %h2 フォルダ構成　※抜粋
    %ul
      %li
        railsgirls
        %ul
          %li
            app
            %ul
              %li models
              %li views
              %li controllers
          %li <mark>config</mark> アプリケーションの設定
          %li db
%section.slide
  %div
    %h2 フォルダ構成　※抜粋
    %ul
      %li
        railsgirls
        %ul
          %li
            app
            %ul
              %li models
              %li views
              %li controllers
          %li config
          %li <mark>db</mark> データベースの定義情報
%section.slide.shout
  %div
    %h2 そしてサーバーは何をしますか？
%section.slide
  %div
    %h2 サーバー
    %p 何かしらのリクエスト（注文）に対してレスポンス（結果）を返す
    %p{style: 'margin-bottom:0'} （サーバ例）
    %ul
      %li データベースサーバー
      %li ウェブサーバー
      %li アプリケーションサーバー
%section.slide
  %div
    %h2 サーバー
    %p ※ここに画像を入れる
%section.slide
  %div
    %h2 